p{  color:rgb(87, 201, 221);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    margin: 5%;
    text-indent: 20px;
    
}
body{
    background-color: rgb(233, 243, 252);
    margin: 5%;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}