button{
    text-transform: uppercase;
}
ul{
    list-style-type: none;
    display:inline-flex;
    float: right;
    margin-bottom: 200px;
}

h1{
    text-transform: uppercase;
    padding:100px;
    text-align: center;
    color: white;
    width: 200px;
    margin: auto;

}
h2{
   background-color: rgba(0,0,0,.5);
   color: white;
    border-bottom: solid;
    border-color: rgb(49, 49, 49);
    width: fit-content;
    margin: auto;
    text-align: center;
}
header{
   background-image: url(/Projeto1/imagens/bg-3.jpg);
    background-attachment: fixed;
    background-size:contain;
    background-repeat: no-repeat;
    padding-bottom: 150px;
}
section{
    display: flex;
}
a:link{
    color: white;
    text-decoration: none;

}
body{
    width: fit-content;
    margin: auto;
    background-color: rgb(214, 210, 206);
}

